body
{
    font-family: 'Hanken Grotesk';
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
   
}

/* mindig a legkisebb képernyőre írjuk meg a kódot, majd alul a mediaQuery-vel megmondjuk, hogy nagy képernyőn hogy legyen */

.results-card
{
    display:flex;
    flex-direction: column;
}

.results-card__box
{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
}

.results-card__your-res
{


}

.results-card__summary
{

}

/*   
 <div class="results-card">
    <div class="results-card__your-res">
      <h1 class="results-card__title">Your Result</h1>
      <div class="results-card__score-circle">
        <span class="results-card__score__top">76</span> 
        <span class="results-card__score__bottom">of 100</span>
      </div>
      <h2 class="results-card__feedback">Great</h2>
      <p class="results-card__desc">You scored higher than 65% of the people who have taken these tests.</p>
    </div>

    <div class="results-card__summary">
      <h2 class="results-card__sum-title">Summary</h2>

      <ul class="summary-list">
        <li class="summary-element summary-element--red">
          <span class="summary-element__name">
            <img src="./assets/images/icon-reaction.svg" alt="">
            Reaction
          </span>
          <span class="summary-element__score">80 <span class="summary-element__max-score">/ 100</span></span>
        </li>
        <li class="summary-element summary-element--yellow">
          <span class="summary-element__name">
            <img src="./assets/images/icon-memory.svg" alt="">
            Memory
          </span>
          <span class="summary-element__score">92 <span class="summary-element__max-score">/ 100</span></span>
        </li>
        <li class="summary-element summary-element--green">
          <span class="summary-element__name">
            <img src="./assets/images/icon-verbal.svg" alt="">
            Verbal
          </span>
          <span class="summary-element__score">61 <span class="summary-element__max-score">/ 100</span></span>
        </li>
        <li class="summary-element summary-element--blue">
          <span class="summary-element__name">
            <img src="./assets/images/icon-visual.svg" alt="">
            Visual
          </span>
          <span class="summary-element__score">72 <span class="summary-element__max-score">/ 100</span></span>
        </li>
      </ul>

      <button class="results-card__btn">Continue</button>

    */